<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask course</title>
</head>
<body>


<h1>BOLT {{ name }}</h1>
<h4>BOLT</h4>

{% if today %}
<p>{{ today }}</p>
{% else %}
<p>No today parameter</p>
{% endif %}

<ul>
    {% for item in list_items %}
    <li>{{item}}</li>
    {% endfor %}
</ul>

<ol>
    <li>item 1</li>
    <li>item 2</li>
    <li>item 3</li>
</ol>

<a href="http://yandex.ru" target="_blank">Go to Yandex</a>
<img src="https://million-wallpapers.ru/wallpapers/1/97/17691697570383612744/smajl-ulybka.jpg" width="192px"
     height="120px">

<form action="">
    <input type="text" name="text-input" placeholder="Input some text">
    <input type="password" name="text-password" placeholder="Input password">
    <input type="submit" value="Submit">
</form>


</body>
</html>