<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
		<title>Работа с запросами</title>
  		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Выберите запрос</h1>
		<form action="{{ url_for('requests.requests_request1') }}">
      			<button type="submit">Запрос 1. Заказчики заключившие договор в N году</button>
    		</form>
		<form action="{{ url_for('requests.requests_request2') }}">
      			<button type="submit">Запрос 2. Сведенья за заказы за последние N дней</button>
    		</form>
        <form action="{{ url_for('requests.requests_request3') }}">
      			<button type="submit">Запрос 3. Заказы за N дней в каждом из статусов</button>
    		</form>
        <form action="{{ url_for('requests.requests_request4') }}">
      			<button type="submit">Запрос 4. Заказчики с похожим номером на ...</button>
    		</form>
        <form action="{{ url_for('requests.requests_request5') }}">
      			<button type="submit">Запрос 5. Общая стоимость заказов со статусом N по заказчикам</button>
    		</form>
        <form action="{{ url_for('requests.requests_request6') }}">
      			<button type="submit">Запрос 6. Максимальный заказ со статусом N в году M по заказчикам</button>
    		</form>
		<form action="{{ url_for('index') }}">
      			<button type="submit" class="small_button">Вернуться</button>
    		</form>
	</body>
</html>