.file-in-tree-1{background: url(../images/f/doc.png) no-repeat left center;line-height:25px;padding-left:30px;}
.file-in-tree-2{background: url(../images/f/txt.png) no-repeat left center;line-height:25px;padding-left:30px;}
.file-in-tree-3{background: url(../images/f/pdf.png) no-repeat left center;line-height:25px;padding-left:30px;}
.file-in-tree-4{background: url(../images/f/djvu.png) no-repeat left center;line-height:25px;padding-left:30px;}
.file-in-tree-5{background: url(../images/f/xls.png) no-repeat left center;line-height:25px;padding-left:30px;}
.file-in-tree-6{background: url(../images/f/presentation.png) no-repeat left center;line-height:25px;padding-left:30px;}
.file-in-tree-7{background: url(../images/f/image.png) no-repeat left center;line-height:25px;padding-left:30px;}
.file-in-tree-8{background: url(../images/f/folder.png) no-repeat left center;line-height:25px;padding-left:30px;}
.file-in-tree-0{background: url(../images/f/file.png) no-repeat left center;line-height:25px;padding-left:30px;}