{% extends 'edit_tests_base.html' %}{% block child %}
    <div class="article_3">
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>Логин</th>
                <th>Пароль</th>
                <th>Уровень доступа</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Admin</td>
                <td>Admin</td>
                <td>1</td>
                <td><a href="/edit/users/1">Редактировать</a></td>
                <td><a href="/edit/users/delete/1">Удалить</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Misha</td>
                <td>123456</td>
                <td>0</td>
                <td><a href="/edit/users/2">Редактировать</a></td>
                <td><a href="/edit/users/delete/2">Удалить</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Ilya</td>
                <td>Ilya228</td>
                <td>0</td>
                <td><a href="/edit/users/3">Редактировать</a></td>
                <td><a href="/edit/users/delete/3">Удалить</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>12</td>
                <td>1</td>
                <td>1</td>
                <td><a href="/edit/users/5">Редактировать</a></td>
                <td><a href="/edit/users/delete/5">Удалить</a></td>
            </tr>
            <tr>
                <td>6</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td><a href="/edit/users/6">Редактировать</a></td>
                <td><a href="/edit/users/delete/6">Удалить</a></td>
            </tr>
            <tr>
                <td>7</td>
                <td>2</td>
                <td>2</td>
                <td>1</td>
                <td><a href="/edit/users/7">Редактировать</a></td>
                <td><a href="/edit/users/delete/7">Удалить</a></td>
            </tr>
            <tr>
                <td>8</td>
                <td>3</td>
                <td>3</td>
                <td>1</td>
                <td><a href="/edit/users/8">Редактировать</a></td>
                <td><a href="/edit/users/delete/8">Удалить</a></td>
            </tr>
            <tr>
                <td>9</td>
                <td>5464563123</td>
                <td>213425654</td>
                <td>0</td>
                <td><a href="/edit/users/9">Редактировать</a></td>
                <td><a href="/edit/users/delete/9">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>{% endblock %}