{% extends 'edit_users_base.html' %}{% block child %}<div class="article_3"><table>
<thead><tr><th>Номер заказа</th><th>Артикул</th><th>Количество</th><th>Сумма заказа</th><th>Дата заказа</th></tr></thead>
<tbody>
<tr><td>1</td><td>1</td><td>50</td><td>1000</td><td>2020-02-05</td></tr>
<tr><td>2</td><td>2</td><td>25</td><td>1000</td><td>2020-02-05</td></tr>
<tr><td>3</td><td>3</td><td>10</td><td>600</td><td>2021-02-15</td></tr>
<tr><td>4</td><td>3</td><td>10</td><td>600</td><td>2021-03-15</td></tr>
<tr><td>5</td><td>4</td><td>10</td><td>500</td><td>2021-09-20</td></tr>
</tbody>
</table></div>{% endblock %}